* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", san-serif;
  }


.home {
   display: flex;
   padding-left: 80px;
   background-color: white;
   padding-bottom: 20px;
   padding-top: 10px;
}

.home h2 {
  color: #ff0060;
  padding-right: 30px;
  padding-top: 10px;
}

.home .about {
    padding-top: 20px;
    gap: 5px;
    padding-left: 50%;
}

.home .about a {
    text-decoration: none;
    color: black;
    padding-left: 60px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 17px;
}

.about a:hover {
     color: red;
}

/* .about #appointment {
    border-color: rgb(67, 62, 129);
    width: 10px;
    padding: 10px;
    padding-right: 10px;
    margin-left: 10px;
    box-sizing: border-box;
    background-color: #ff0060;

} */

.launch {
    display: flex;
    background-color: #ecd3ec;
    padding-left: 20%;
}

.launch .first-launch {
    padding-top: 10%;
    padding-left: 20px;
}

.first-launch h3 {
    font-size: 52px;
    font-style: italic;
    padding-bottom: 10px;
    color: #1A1515;
}

.first-launch pre{
    font-size: 36px;
    color: #1A1515;
    ;
    padding-bottom: 10px;
    font-style: playfair display;
}

.first-launch p {
    padding-bottom: 25%;
    font-style: initial;
    color:#1A1515;
    font-style: playfair display;
    font-size: 30px;
    padding-top: 10px;
}

.launch .first {
    position: relative;
}

.launch .first input {
    padding: 10px;
    padding-right: 40px;
    background-color: #ecd3ec;
    border-color: rgb(199, 184, 184);
}

.first button {
    background-color: #fc0763;
    padding: 10px;
    color: #ffffff;
    font-size: 14px;
    padding-left: 18px;
    padding-right: 18px;
    position: absolute;
    border-radius: 5px;
    font-style: italic;
    left: 42%;
    font-weight: 900;
}

.launch .second-launch img {
    width: 90%;
    padding-bottom: 10%;
}


/* media query */


/* @media screen and (max-width: 400px) {
    .art #code{
      font-size: 18px;
    }
    .head {
      font-size: 20px;
      background: red;
    }
  
    .head #fav {
      font-size: 25px;
    }
  
    .head p {
      font-size: 15px;
    }
  
    .recipe .point  {
      padding: 24px;
    }
  
    .ingredients .unit {
      font-size: 15px;
    }
  
    .ingredients h5 {
      font-size: 22px;
    }
  
    .second .real {
      font-size: 20px;
      padding-top: 10px;
    }
  
    .second .text {
      font-size: 13px;
    }
  }
  
  @media screen and (min-width: 401px) and (max-width: 750px) {
    .head {
      background: green;
      font-size: 38px;
    }
  
    .ingredients .unit {
      font-size: 18px;
    }
  
    .second .text {
      font-size: 15px;
    }
  }
  
  @media screen and (min-width: 750px) {
    .head {
      background: purple;
    }
  } */